/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 .below-navbar {
  margin-top: 50px;
 }

p {
    color: $darker-blue;
}

h1,
h2 {
      color: $darker-blue;
}

a {
    color: $blue;
  &:hover {
    color: $dark-blue;
  }
}

.icon {
  padding: 20px;
  color: $darker-blue;
  &:hover {
    padding: 20px;
    color: $blue;
  }
}