/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.bg-light-grey {
  background-color: #ECF0F1;
  padding:100px;
}

.home-header {
  background-image: $home-header-image;
  background-size: cover;
  padding: 100px;
  h1 {
    color: white;
  }
  p {
    color: white;
    font-size: 18px;
  }
}

.collect-email {
  padding: 100px;
}